DATABASE_URL="postgresql://postgres:password@localhost:5432/hitachi2"

BETTER_AUTH_SECRET="change-me-must-be-at-least-32-characters-long"
BETTER_AUTH_URL="http://localhost:3000"

CORS_ORIGIN="http://localhost:3001"

NODE_ENV="development"

USESEND_API_KEY="us_your_api_key_here"
EMAIL_FROM="noreply@yourdomain.com"
